
.mainPanel{
    padding: 0 8px;
    gap: 8px;
}

.listHeader{
    color: var(--md-sys-color-secondary);
    border-bottom: 4px double var(--md-sys-color-primary);
}

.listHeader h3{
    margin-right: 16px;;
}

.listBody{
    height: calc(100vh - 110px);
    overflow: auto;
    scrollbar-gutter: stable;
}

.listItem{
    border-bottom: 1px solid var(--md-sys-color-secondary);
}

.listItemSecondary{
    display: block;
    margin-left:32px;
}

.splitTaxRates{
    display: flex;
    width: 250px;
}

.splitTaxRates > label{
    display: block;
    flex:1;
}