body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Primary Colors */
  --md-sys-color-primary: #6750a4;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #eaddff;
  --md-sys-color-on-primary-container: #21005d;

  /* Secondary Colors */
  --md-sys-color-secondary: #625b71;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #e8def8;
  --md-sys-color-on-secondary-container: #1d192b;

  /* Tertiary Colors */
  --md-sys-color-tertiary: #7d5260;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffd8e4;
  --md-sys-color-on-tertiary-container: #31111d;

  /* Error Colors */
  --md-sys-color-error: #b3261e;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #f9dedc;
  --md-sys-color-on-error-container: #410e0b;

  /* Neutral Colors */
  --md-sys-color-background: #fffbfe;
  --md-sys-color-on-background: #1c1b1f;
  --md-sys-color-surface: #fffbfe;
  --md-sys-color-on-surface: #1c1b1f;
  --md-sys-color-surface-variant: #e7e0ec;
  --md-sys-color-on-surface-variant: #49454f;

  --md-sys-color-success: #598234;
  --md-sys-color-error: #b3261e;
  --md-sys-color-warning: #dd6b20;

  --base-font-size: 16px;

  font-size: var(--base-font-size);
}

/* Typography */

.h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.h4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.h5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0;
}

.h6 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0;
}

/* Layout */

.layout-horizontal {
  display: flex;
}

.layout-vertical {
  display: flex;
  flex-direction: column;
}

.layout-horizontal.center {
  align-items: center;
}

.layout-horizontal.justified {
  justify-content: space-between;
}

.layout-horizontal.end-justified {
  justify-content: flex-end;
}

/* Flex */

.flex {
  flex: 1;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

/* Margin */

.margin-top8{
  margin-top: 8px;
}

.margin-top16{
  margin-top: 16px;
}

.margin-top20 {
  margin-top: 20px;
}

/* Padding */

.padding-8 {
  padding: 8px;
}

.padding-16 {
  padding: 16px;
}

.padding-h8 {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-h16 {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-v8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-v16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Gap */

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.clickable {
  cursor: pointer;
}

/* Scrollable */

.scrollable {
  overflow: auto;
  scrollbar-gutter: stable;
}

/* Column Layouts */
.column-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column-2 .full-width {
  grid-column: 3 / 1;
}


/* Custom */
.button-footer-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.preserve-whitespace{
  white-space-collapse: preserve;
}