body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Primary Colors */
  --md-sys-color-primary: #6750a4;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #eaddff;
  --md-sys-color-on-primary-container: #21005d;

  /* Secondary Colors */
  --md-sys-color-secondary: #625b71;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #e8def8;
  --md-sys-color-on-secondary-container: #1d192b;

  /* Tertiary Colors */
  --md-sys-color-tertiary: #7d5260;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffd8e4;
  --md-sys-color-on-tertiary-container: #31111d;

  /* Error Colors */
  --md-sys-color-error: #b3261e;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #f9dedc;
  --md-sys-color-on-error-container: #410e0b;

  /* Neutral Colors */
  --md-sys-color-background: #fffbfe;
  --md-sys-color-on-background: #1c1b1f;
  --md-sys-color-surface: #fffbfe;
  --md-sys-color-on-surface: #1c1b1f;
  --md-sys-color-surface-variant: #e7e0ec;
  --md-sys-color-on-surface-variant: #49454f;

  --base-font-size: 16px;

  font-size: var(--base-font-size);
}


.h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.h4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.h5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0;
}

.h6 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0;
}


.layout-horizontal{
  display: flex;
}

.layout-vertical{
  display: flex;
  flex-direction: column;
}

.layout-horizontal.center{
  align-items: center;
}

.flex{
  flex:1;
}

.gap-8{
  gap:8px;
}

.gap-16{
  gap:16px;
}


.clickable{
  cursor: pointer;
}

.icon-s20{
  width: 20px;
  height: 20px;
}

.icon-s24{
  width: 24px;
  height: 24px;
}

.icon-s30{
  width: 30px;
  height: 30px;
}